
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scan {
  0%   { background-position: 0 0; }
  100% { background-position: 0 100%; }
}
